<ul class="mainitems">
  <li *ngFor="let item of listMainItems">
    <span (click)="refreshRightc(item.id)">{{item.name}}&nbsp;&nbsp;</span> <i class="fa fa-area-chart" aria-hidden="true" style="color:orange"></i>
  </li>
</ul>

<div id="leftpaneitems">
  <div class="right" *ngFor="let item of listItemsLeft;let i = index;">
    <div>
      <input type="radio" name="radium" class="radium" [checked]="itemid==item.id" (click)="clickItemIdc($event,item.id,i)"/><div class="radium2">{{item.name}}</div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
